body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.dashboard{
    display: flex;
}
.sidebar{
    width: 230x;
    background-color: #333;
    color: white;
    padding: 18px;
}
.logo{
    font-size: 18px;
}
.menu{
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menu li.active{
    background-color: #cec5c5;
}
.main-content{
    flex:1;
    padding: 20px;
}

.widget{
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.widget h2{
    margin-top: 0;

}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #8d8888;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #c9a9a9;
  }